body {
    margin-top: 50px;
}

.full {
    background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#app-container {
    height: 100%;
}

#app-container .app-navbar {
  background-color: #f0f0f0;
}

.navbar-toggle .icon-bar {
    background-color: #337ab7;
}

/* Footer Styles */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.main-footer {
  padding: 0;
  margin: 80px 0 0;
}



.copyright,
.copyright a {
  color: #8d8d8d;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

.copyright p,
.copyright ul {
  margin-bottom: 0;
}

.copyright span,
.copyright a:hover {
  color: #4db1e2;
}

.copyright span,
.copyright a:hover {
  color: #4db1e2;
  text-decoration: none;
}
